@media (max-width: 600px) {
  #img-st {
    z-index: 1;
    width: 100%;
    height: 500px;
  }

  .text-first {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -70%);
    color: white;
  }

  .text-first h1 {
    font-size: 20px;
    margin: 20px;
  }

  .text-first p {
    font-size: 10px;
    margin: 30px;
  }

  .text-first a {
    border: #007bff;
    outline: none;
    margin: 25px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 30px 15px #007bff;
  }

  .nd {
    height: 10vh;
    margin-top: -5px;
    color: white;
    background-color: #007bff;
    text-align: center;
    animation: ap 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .nd h1 {
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 76px;
  }

  .rd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 140px;
  }

  .text-rd {
    color: white;
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    padding: 40px;
    border-radius: 10% 40%;
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .tx {
    color: black;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px 5px #007bff;
    border: none;
    text-align: center;
    padding: 40px;
    outline: none;
    border-radius: 30% 10%;
    animation: app 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid #007bff;
    border-top: 1px solid #007bff;
    padding: 40px;
    margin-bottom: 10px;
    animation: ap 5ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .four h1 {
    font-size: 20px;
    margin-top: 50px;
  }

  .four p {
    font-size: 10px;
    text-align: center;
    margin-top: 70px;
  }

  .five {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 170px;
    margin-bottom: 140px;
  }

  .text-five {
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    width: 320px;
    color: white;
    padding: 50px;
    border-radius: 10%;
    animation: fivv 2ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .text-fivv {
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    color: white;
    padding: 50px;
    width: 320px;
    border-radius: 10%;
    animation: fiv 2ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .six {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
    margin-top: 180px;
    margin-bottom: 50px;
    animation: f 2ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
    padding-left: 38px;
  }

  .text-six {
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    color: white;
    border-radius: 5%;
    height: 400px;
    width: 300px;
  }

  .text-sixx {
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    color: white;
    border-radius: 5%;
    height: 400px;
    width: 300px;
  }

  @keyframes f {
    from {
      opacity: 0;
      translate: 50px;
    }

    to {
      opacity: 1;
      translate: 0 0;
    }
  }

  .seven {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px;
    gap: 80px;
    margin-bottom: 100px;
    animation: ap 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .text-sev {
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    color: white;
    border-radius: 5%;
    height: 340px;
    width: 330px;
  }

  .text-sevenn {
    color: white;
    border: 1px solid #007bff;
    border-radius: 5%;
    height: 340px;
    width: 330px;
  }

  .text-seven {
    background-color: #007bff;
    box-shadow: 0 0 10px 5px #007bff;
    color: white;
    border-radius: 5%;
    height: 340px;
    width: 330px;
  }

  .promo {
    margin-top: 170px;
    background-color: #007bff;
    box-shadow: 0 0 10px 8px rgba(0, 123, 255, 0.623);
    color: white;
    margin-bottom: 140px;
    height: 40vh;
    animation: ap 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;
  }

  .promo h1 {
    font-size: 10px;
  }

  #subpro a {
    margin: 30px;
    text-decoration: none;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
  }
}
