@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000; /* Preto */
  color: #ffffff; /* Branco */
}

#img-st {
  z-index: 1;
  width: 98.9vw;
  height: 640px;
}

.text-first {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -30%);
  color: #ffffff; /* Branco */
}

.text-first h1 {
  font-size: 40px;
  margin: 20px;
}

.text-first p {
  font-size: 20px;
  margin: 30px;
}

.text-first a {
  border: #0056b3; /* Azul escuro */
  outline: none;
  margin: 20px;
  text-decoration: none;
  color: #ffffff; /* Branco */
  background-color: #0056b3; /* Azul escuro */
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 0 30px 15px #0056b3; /* Azul escuro */
}

@keyframes appear {
  from {
    opacity: 0;
    translate: -100vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.nd {
  height: 15vh;
  margin-top: -5px;
  color: #ffffff; /* Branco */
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  text-align: center;
  animation: ap 1ms ease-in-out;
}

.nd h1 {
  padding-top: 25px;
  padding-bottom: 76px;
}

span {
  font-weight: 900;
}

.rd {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  margin: 50px;
  margin-bottom: 140px;
}

.rd ul {
  list-style: none;
}

.text-rd {
  color: #ffffff; /* Branco */
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  padding: 40px;
  border-radius: 10% 40%;
  animation: appear 1ms ease-in-out;
}

@keyframes app {
  from {
    opacity: 0;
    translate: 60vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.tx {
  color: #ffffff; /* Branco */
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  border: none;
  text-align: center;
  padding: 40px;
  outline: none;
  border-radius: 40% 10%;
  animation: app 1ms ease-in-out;
}

.text-rd h1 {
  text-align: center;
  margin: 20px;
}

.text-rd li {
  text-align: justify;
  margin-left: 20px;
  margin: 10px;
}

.tx h1 {
  margin: 20px;
}

.tx li {
  text-align: justify;
  margin-right: 50px;
  margin: 10px;
  padding-left: 80px;
}

.four {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid #008000; /* Verde */
  border-top: 1px solid #008000; /* Verde */
  padding: 40px;
  margin-bottom: 10px;
  animation: ap 5ms ease-in-out;
}

.four h1 {
  font-size: 30px;
  margin-top: 50px;
}

.four p {
  margin-top: 70px;
}

#h1-master {
  font-size: 25px;
  margin: 80px;
  text-align: center;
  animation: ap 2ms ease-in-out;
}

@keyframes aaa {
  from {
    opacity: 0;
    transform: translateX(-10);
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.five {
  display: flex;
  justify-content: center;
  gap: 210px;
  margin-bottom: 110px;
}

.text-five h1 {
  text-align: center;
  margin: 10px;
}

.text-five {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  padding: 50px;
  border-radius: 10%;
  animation: fivv 2ms ease-in-out;
}

@keyframes fivv {
  from {
    opacity: 0;
    translate: 60vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.text-five i {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.text-five li {
  padding-right: -80px;
  margin: 10px;
}

.text-fivv h1 {
  text-align: center;
  margin: 10px;
}

.text-fivv {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  padding: 50px;
  border-radius: 10%;
  animation: fiv 2ms ease-in-out;
}

@keyframes fiv {
  from {
    opacity: 0;
    translate: -60vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.text-fivv li {
  padding-right: -80px;
  margin: 10px;
}

.text-fivv i {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.six {
  display: flex;
  justify-content: center;
  gap: 90px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 50px;
  animation: f 2ms ease-in-out;
}

@keyframes f {
  from {
    opacity: 0;
    translate: 100px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.text-six {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 5%;
  height: 400px;
  width: 300px;
}

.text-six ul {
  list-style: none;
}

.text-sixx {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 5%;
  height: 400px;
  width: 300px;
}

.text-sixx ul {
  list-style: none;
}

.text-si {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 5%;
  height: 400px;
  width: 300px;
}

.text-si ul {
  list-style: none;
}

.six h1 {
  margin: 10px;
}

.six i {
  font-size: 40px;
  margin: 30px;
}

.seven {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-bottom: 100px;
  animation: ap 1ms ease-in-out;
}

@keyframes ap {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.text-sev {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 5%;
  height: 350px;
  width: 380px;
}

.text-sev h1 {
  margin: 10px;
}

.text-seven {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 5%;
  height: 350px;
  width: 380px;
}

.text-seven span {
  background-color: #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 40%;
  font-size: 70px;
  margin: 20px;
}

.text-seven h1 {
  margin: 10px;
}

.text-sevenn {
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 5%;
  height: 350px;
  width: 380px;
}

.text-sevenn span {
  background-color: #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 40%;
  font-size: 70px;
  margin: 20px;
}

.text-sevenn h1 {
  margin: 10px;
}

.text-sev span {
  background-color: #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  border-radius: 40%;
  font-size: 70px;
  margin: 20px;
}

marquee img {
  width: 250px;
  height: 200px;
  margin: 10px 40px;
  border: 1px solid #008000; /* Verde */
  border-radius: 20%;
}

.promo {
  margin-top: 170px;
  background-color: #0056b3; /* Azul escuro */
  box-shadow: 0 0 10px 5px #0056b3; /* Azul escuro */
  color: #ffffff; /* Branco */
  margin-bottom: 140px;
  height: 50vh;
  animation: ap 1ms ease-in-out;
}

@keyframes ap {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

#subpro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  text-align: center;
  flex-direction: column;
}

#subpro span {
  font-size: 30px;
}

#subpro a {
  margin: 30px;
  text-decoration: none;
  background-color: #f5f5f5; /* Branco esfumaçado */
  padding: 20px;
  border-radius: 5px;
}

#subpro a:hover {
  transition: all 1s;
  background-color: rgba(245, 245, 245, 0.466);
  padding: 20px;
  color: #ffffff; /* Branco */
  border-radius: 20px;
}
